<h1>Tittel</h1>

<p>Her er litt tekst. Her er litt tekst. Her er litt tekst.</p>

<img src="../../images/ducky.jpg" />

<p>Her er litt tekst. Her er litt tekst. </p>
<p>Her er litt tekst vi legger til, men vi sletta noen linjer også.</p>
